main{
    height: auto;
    width: 50vw;
    border: solid 2px lightskyblue;
    box-shadow: 0 0 15px rgb(70, 143, 118);
    background-color: darkgray;
    margin: auto;
    
}
#cal-head{
    height: 10%;
    width: 99%;
    background-color: #52f7c0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25% 0.5%;
}
#cal-head h2{
    color: darkslategrey;
    padding: 1.5%;
}

#display{
    height: 25%;
    width: 99%;
    background-color: rgb(236, 232, 232);
    margin: 0.25% 0.5%;
    font-size: 200%;
    display: block;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#buttons{
    display: flex;
    height: 65%;
    width: 100%;
    flex-wrap: wrap;
    
    
    align-items: center;
    justify-content: center;
}
.btn{
    width: 24%;
    height: 19%;
    
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0.25% 0.5%;
    background-color: whitesmoke;
    font-size: x-large;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background-color: lightseagreen;
    box-shadow: 0 0 10px rgb(7, 85, 81);
}
